* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f2f5;
    background-image: url(../res/backgrnd.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#content {
    width: 90%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#sentername {
    font-size: 3em;
    font-weight: bold;
    color: #e63946;
    margin-bottom: 20px;
}

#wish {
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #457b9d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #1d3557;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #457b9d;
}

@media screen and (min-width: 768px) {
    #content {
        padding: 40px;
    }

    #sentername {
        font-size: 4em;
    }

    #wish {
        font-size: 2em;
    }

    .button {
        font-size: 1.2em;
    }

    input {
        padding: 20px;
        font-size: 1.5em;
    }
}
