* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #413e3e;
    background-image: url(../res/backgrnd.webp);
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #413e3e;
    background-image: url(../res/dance.webp);
    background-size: cover;
    opacity: 0.8;
}

#sentername {
    width: 100%;
    height: 30vh;
    font-size: 4em;
    font-weight: bold;
    color: rgb(226, 0, 0);
    text-align: center;
    line-height: 30vh;
}

#wish {
    width: 100%;
    height: 60vh;
    font-size: 2em;
    font-weight: bold;
    color: rgb(228, 15, 15);
    text-align: center;
}

.button {
    text-align: center;
    width: 60%;
    height: 7vh;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    background-color: #27a9dd;
    margin-bottom: 3vh;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
}

input {
    width: 80vw;
    height: 10vh;
    border-radius: 20px;
    outline: none;
    background-color: #413e3e;
    font-size: 2em;
    color: #fff;
    padding: 0 30px;
}

@media screen and (min-width: 768px) {
    #content {
        width: 40vw;
        margin: 0 auto;
    }

    #sentername {
        font-size: 8em;
    }

    #wish {
        font-size: 4em;
    }

    .button {
        font-size: 2em;
    }

    input {
        width: 30vw;
        font-size: 6em;
    }
}
